/* Заголовки ## в Reading View */
.markdown-preview-view.character-sheet h2,

/* Заголовки ## в Live Preview */
.markdown-source-view.character-sheet .cm-line.HyperMD-header-2 {
    background: var(--background-secondary) !important;

    border-left: 4px solid var(--interactive-accent) !important;

    padding: 8px 12px !important;
    margin-top: 18px !important;
    margin-bottom: 8px !important;

    border-radius: 6px;

    box-sizing: border-box;
}